@using Libria.ViewModels
@using Libria.Models.Entities
@model List<Book>

@{
	ViewData["Title"] = "Бажане";
}

<div class="wl-container">
	<h3 class="my-5">Бажані книги</h3>
	<div class="d-flex flex-wrap justify-content-between justify-content-md-start">
		@foreach (var book in Model)
		{
			<partial name="_BookCardPartial" model=@(new BookCardViewModel { Book = book, Wished = true })></partial>
		}
	</div>
</div>
