@using Libria.ViewModels;
@using Libria.ViewModels.Search;
@model IndexViewModel;
@{
	ViewData["Title"] = "Результати пошуку";
}

<div class="mt-5 mb-3">
	<h3>Результати пошуку для «@Model.FilterViewModel.SearchString» - Сторінка @Model.PageViewModel.PageNumber</h3>
	<span>Всього результатів пошуку: <strong>@Model.PageViewModel.ItemsCount</strong></span>
	<hr />
</div>

<partial name="_BooksGridPartial" model=@Model></partial>