@using Libria.ViewModels
@model IndexViewModel
@{
	ViewData["Title"] = "Книги " + ViewData["AuthorName"];
}

<div class="mt-5 mb-3">
	<h3>@ViewData["AuthorName"]</h3>
	<p class="lead">@ViewData["AuthorDescription"]</p>
	<span>Книг всього: <strong>@Model.PageViewModel.ItemsCount</strong></span>
</div>

<partial name="_BooksGridPartial" model=@Model></partial>