@using Libria.Models.Entities
@using Libria.ViewModels
@model Author
@{
	List<int>? wishIds = null;
	if (ViewData["wishIds"] != null)
		wishIds = ViewData["wishIds"] as List<int>;
	bool wished = false;
}

<div class="my-5">
	<h3>@Model.Name</h3>
	<p class="lead">@Model.Description</p>
</div>

<div class="d-flex flex-wrap justify-content-between justify-content-md-start">
	@foreach (var book in Model.Books)
	{
		wished = wishIds != null && wishIds.Contains(book.BookId) ? true : false;
		<partial name="_BookCardPartial" model=@(new BookCardViewModel { Book = book, Wished = wished })></partial>
	}
</div>