@using Libria.Areas.Admin.Models;
@model DashboardViewModel;

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light shadow position-sticky sticky-top" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4" style="padding-left:.5rem;">Libria</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        @foreach (var menuItem in Model.SidebarMenuItems)
        {
            <li>
                <a asp-controller="@menuItem.ControllerName" asp-action="@menuItem.ActionName" class="nav-link @(Model.ActiveMenuItem == menuItem.Name ? "active" : "link-dark")">
                    @menuItem.Name
                </a>
            </li>
        }
        @*<li>
            <a asp-controller="Dashboard" asp-action="Index" class="nav-link active">
                Головна
            </a>
        </li>
        <li>
            <a asp-controller="Dashboard" asp-action="Orders" class="nav-link link-dark">
                Замовлення
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Категорії
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Товари
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Автори
            </a>
        </li>*@
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Вітаємо, адмін!</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>