@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide mb-4" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/1.png" class="d-block w-100" alt="Carousel image 1" />
        </div>
        <div class="carousel-item">
            <img src="~/img/2.png" class="d-block w-100" alt="Carousel image 2" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mt-2">
    @await Component.InvokeAsync("NewBooks")
</div>

<div class="mt-2">
    @await Component.InvokeAsync("PopularBooks")
</div>

<div class="mt-2 mb-4">
    @await Component.InvokeAsync("PopularBooks", new { popularThisWeek = true })
</div>

