<div class="row justify-content-center py-5">
	<div class="col-lg-6">
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Успіх!</h4>
			<p>Відтепер ви не будете отримувати такі сповіщення про товар від нашого магазину.</p>
			<hr>
			<p class="mb-0">Ви у будь-який момент можете почати отримувати сповіщення, просто залишивши заявку на сторінці товару.</p>
		</div>
		<div class="text-center mt-2">
			<a class="link-dark fw-bold" asp-controller="Home" asp-action="Index">На головну</a>
		</div>
	</div>
</div>