<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Libria</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Libria.styles.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/css/lightslider.css">
	<link rel="stylesheet" type="text/css" href="~/css/star-rating-svg.css">


</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Libria</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
					<ul class="navbar-nav ms-lg-5 me-sm-2">
						<li class="nav-item dropdown">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Категорії
							</button>
							@await Component.InvokeAsync("CategoriesMenu")
						</li>
					</ul>
					<form method="get" asp-controller="Search" asp-action="Index" class="d-flex flex-grow-1 me-lg-5">
						<input name="q" class="form-control me-2" type="search" placeholder="Пошук за назвою або за автором" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Шукати</button>
					</form>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link text-dark d-flex align-items-center" id="cart" asp-controller="Cart" asp-action="Index">
								<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 32 32">
									<g id="cart"><path fill="#212529" d="M29.46 10.14A2.94 2.94 0 0 0 27.1 9H10.22L8.76 6.35A2.67 2.67 0 0 0 6.41 5H3a1 1 0 0 0 0 2h3.41a.68.68 0 0 1 .6.31l1.65 3 .86 9.32a3.84 3.84 0 0 0 4 3.38h10.37a3.92 3.92 0 0 0 3.85-2.78l2.17-7.82a2.58 2.58 0 0 0-.45-2.27zM28 11.86l-2.17 7.83A1.93 1.93 0 0 1 23.89 21H13.48a1.89 1.89 0 0 1-2-1.56L10.73 11H27.1a1 1 0 0 1 .77.35.59.59 0 0 1 .13.51z" /><circle fill="#212529" cx="14" cy="26" r="2" /><circle fill="#212529" cx="24" cy="26" r="2" /></g>
								</svg>
								<span class="ms-1">Кошик</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark d-flex align-items-center" asp-controller="WishList" asp-action="Index">
								<svg width="25px" height="25px" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.95 5C5.757 5 4 6.753 4 8.889c0 1.04.414 1.985 1.093 2.686l6.907 7L18.78 11.7A3.845 3.845 0 0 0 20 8.89C20 6.753 18.243 5 16.05 5c-.476 0-1.034.267-1.654.816-.604.536-1.146 1.23-1.582 1.842a1 1 0 0 1-1.628 0c-.436-.612-.978-1.306-1.582-1.842C8.984 5.266 8.426 5 7.95 5zM2 8.889C2 5.625 4.676 3 7.95 3c1.198 0 2.218.644 2.98 1.319.392.348.752.735 1.07 1.116.319-.381.678-.768 1.07-1.116C13.832 3.644 14.852 3 16.05 3 19.324 3 22 5.625 22 8.889a5.845 5.845 0 0 1-1.805 4.224l-7.483 7.59a1 1 0 0 1-1.424 0L3.662 12.97A5.841 5.841 0 0 1 2 8.89z" fill="#212529" /></svg>
								<span class="ms-1">Бажані</span>
							</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - Libria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/lightslider.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/jquery.star-rating-svg.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
