@using Libria.ViewModels;
@using Libria.ViewModels.Search
@model IndexViewModel
@{
	ViewData["Title"] = $"Товари категорії \"{ViewData["categoryName"]}\"";
}

<div class="mt-5 mb-3">
	<h3>@ViewData["categoryName"]</h3>
	<p class="lead">@ViewData["categoryDescription"]</p>
	<span>Книг у категорії: <strong>@Model.PageViewModel.ItemsCount</strong></span>
</div>

<partial name="_BooksGridPartial" model=@Model></partial>