@using Libria.Models.Entities
@using Libria.ViewModels
@model List<BookCardViewModel>
@{
	ViewData["Title"] = $"Товари категорії \"{ViewData["categoryName"]}\"";
}

<div class="my-5">
	<h3>@ViewData["categoryName"]</h3>
	<p class="lead">@ViewData["categoryDescription"]</p>
</div>

<div class="d-flex flex-wrap justify-content-between justify-content-md-start">
	@foreach (var bookCard in Model)
	{
		<partial name="_BookCardPartial" model=@bookCard></partial>
	}
</div>