<div class="row justify-content-center py-5">
	<div class="col-lg-6">
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Доступ заборонено!</h4>
			<p>Ви не маєте достатньо прав для доступу до цього розділу сайту.</p>
			<hr>
			<p class="mb-0">Якщо ви вважаєте, що це помилка, зв'яжіться з нами за наступною e-mail адресою: support@libria.pp.ua</p>
		</div>
	</div>
</div>