@using Libria.ViewModels.Account;
@model ResetPasswordViewModel;

@{
	ViewData["Title"] = "Скидання пароля";
}
<div class="row justify-content-center py-5">
	<div class="col-lg-4">
		<h2 class="text-center mb-4">Скидання пароля</h2>
		@if (ViewBag.PasswordChanged == true)
		{
			<div class="alert alert-success mt-5 mb-4" role="alert">
				<h4 class="alert-heading">Успіх!</h4>
				<p>Ваш пароль було змінено, тепер ви можете використовувати його для входу у свій акаунт.</p>
				<hr>
				<p class="mb-0">Для входу натисніть на посилання нижче.</p>
			</div>
		}
		else
		{
			<form method="post" asp-controller="Account" asp-action="ResetPassword" class="needs-validation" novalidate>
				<div class="form-group mb-4">
					<label asp-for="Password" class="mb-1"></label>
					<input asp-for="Password" class="form-control @(ViewBag.PasswordMismatch == true ? "is-invalid" : "")" placeholder="Введіть новий пароль">
					<span asp-validation-for="Password" class="invalid-feedback"></span>
				</div>
				<div class="form-group mb-4">
					<label asp-for="ConfirmPassword" class="mb-1"></label>
					<input asp-for="ConfirmPassword" class="form-control @(ViewBag.PasswordMismatch == true ? "is-invalid" : "")" placeholder="Повторіть пароль">
					<span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
				</div>
				<input asp-for="Uid" type="hidden" />
				<input asp-for="Token" type="hidden" />
				<div class="form-group mb-4">
					<button type="submit" class="btn btn-primary w-100">Скинути</button>
				</div>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			</form>
		}
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	}