html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu.show {
    display: flex;
    position: absolute !important;
}

.dropdown-menu li .dropdown-item {
    color: black;
    font-size: 1em;
    padding: 0.5em 1em;
}

.dropdown-menu {
    border: none;
    border-radius: 0.2em;
    padding: 0.7em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/* CAROUSEL STYLES */


.carousel-item, .carousel-item img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 768px) {
    .carousel-inner {
        min-height: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-inner {
        height: 160px;
    }
}


/* PRODUCTS SLIDER STYLES */


.s-item-box {
    width: 200px;
    border: 2px solid transparent;
    cursor: default;
}

    .s-item-box:hover .s-item-btns {
        opacity: 1;
    }

    .s-item-box:hover {
        border-image: linear-gradient(to top, rgb(241, 241, 241), rgb(255, 255, 255)) 1;
    }

.s-item-img {
    display: block;
    height: 200px;
    position: relative;
}

    .s-item-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        box-sizing: border-box;
    }

.s-item-details {
    padding: 10px 10px 0px 10px;
}

    .s-item-details .s-item-title {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 16px;
    }

    .s-item-details .s-item-author {
        color: grey;
        font-weight: 300;
        font-size: 14px;
    }

.sale-price {
    color: dimgrey;
    font-weight: 600;
    font-size: 16px;
}

.price {
    text-decoration: line-through;
    color: dimgrey;
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}

.s-item-btns {
    opacity: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slider {
    width: 100%;
}

.hidden {
    opacity: 0;
}



/* BOOK PAGE STYLES */


.cover-container {
    min-height: 420px;
}

    .cover-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.bp-title {
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.bp-author {
    font-size: 18px;
    font-weight: 400;
    color: dimgray;
}

.bp-description {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    color: dimgray
}

.bp-sale-price {
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.bp-price {
    font-weight: 400;
    font-size: 18px;
    color: dimgray;
    text-decoration: line-through;
}

.bp-status {
    font-size: 16px;
    font-weight: 400;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.bp-to-wishlist {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    color: black;
    border: none;
    background-color: transparent;
}

/* categories list (product page)*/

.breadcrumb-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.breadcrumb .breadcrumb-title::before {
    content: "";
}

.breadcrumb a {
    color: #212529;
    line-height: 30px;
}

.breadcrumb > li::before {
    content: "|";
}

.breadcrumb > li:nth-child(2)::before {
    content: " ";
}



/* CART STYLES */

.cart-item {
    height: 150px;
}

.cart-img-cont {
    display: block;
    width: fit-content;
    max-width: 100px;
}

    .cart-img-cont img {
        height: 100%;
        object-fit: contain;
    }

.cart-book-props {
    white-space: nowrap;
}

/* STAR RATING STYLES */
.jq-stars {
    display: inline-block;
}

.jq-rating-label {
    font-size: 22px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-family: helvetica, arial, verdana;
}

.jq-star {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.jq-star-svg {
    padding-right: 3px;
    width: 100%;
    height: 100%;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
    stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
    -webkit-filter: drop-shadow( -2px -2px 2px #888 );
    filter: drop-shadow( -2px -2px 2px #888 );
}



/* READALL PLUGIN STYLES */


.readall {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.readall-button {
    height: 40px;
    display: inline-block;
    border: none;
    padding: unset;
    background: none;
    text-align: center;
    cursor: pointer;
    color: dimgrey;
}

    .readall-button::before {
        content: "⇵  "
    }

.readall-hide:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), white 75%);
}
