@model List<Book>
@{
	ViewData["Title"] = "Кошик";
}

<h2 class="mb-4">Кошик</h2>

<div class="cart-item d-flex shadow justify-content-between mt-4">
	<div class="cart-img-cont">
		<img src="img/book_cover/1.jpg" alt="product img">
	</div>
	<div class="d-flex flex-column align-items-center justify-content-center p-3">
		<span class="">Назва</span>
		<span class="">Автор</span>
		<span class="">Вартість</span>
	</div>
	<div class="d-flex flex-column align-items-center justify-content-center p-3">
		<p class="text-center">Кількість</p>
		<div class="d-flex justify-content-evenly align-items-center">
			<button class="btn btn-outline-primary" type="button">-</button>
			<span style="min-width:50px; max-width:100px; text-align:center">шт.</span>
			<button class="btn btn-outline-primary" type="button">+</button>
		</div>
	</div>
	<div class="d-flex flex-column align-items-center justify-content-center p-3">
		<span class="">Сума</span>
	</div>
	<div class="d-flex justify-content-end">
		<button class="btn btn-danger h-100" type="button">#</button>
	</div>
</div>