@using Libria.ViewModels.Cart

@model List<CartItemViewModel>
@{
	ViewData["Title"] = "Кошик";
}

<div class="cart-container">
	<h2 class="my-5">Кошик</h2>
	@foreach(var item in Model)
	{
		<partial name="_CartItemPartial" model=@item></partial>
	}

	<div>
		Сумарно: @ViewData["TotalPrice"] грн.
	</div>
</div>

