@using Libria.ViewModels.Cart

@model List<CartItemViewModel>
@{
	ViewData["Title"] = "Кошик";
}

<div class="cart-container">
	<h3 class="my-5">Кошик</h3>
	@foreach (var item in Model)
	{
		<partial name="_CartItemPartial" model=@item></partial>
	}

	<div class="container mt-5 mb-3" style="position:sticky;bottom:0;">
		<div class="d-flex p-3 shadow justify-content-between align-items-center" style="border-radius:5px;background-color:white;margin:0 -1.5rem;">
			<div class="d-flex flex-column justify-content-center align-items-start">
				<h3>До сплати:</h3>
				<div class="lead">
					<span class="totalCartPrice">@ViewData["TotalPrice"]</span>
					<span>грн.</span>
				</div>
			</div>
			<div class="d-flex cart-actions">
				<button class="btn btn-outline-danger me-2 py-3 btn-clear-cart" type="button">Очистити кошик</button>
				<form method="POST" asp-controller="Order" asp-action="Index" class="d-flex">
					<button class="btn btn-primary py-3 btn-checkout-cart" type="submit">Замовлення</button>
				</form>
			</div>
		</div>
	</div>
</div>

